:root {
  --primaryColor: #f16000;
  --secondaryColor: #65258a;
  --textColor: #2b2c34;
  --textColorTwo: #4a4a4a;

  /* Alerts */
  --successColor: #37c675;
  --LinkColor: #3eaeff;
  --warningColor: #ff9700;
  --errorColor: #fe5050;
}
