.header-area {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

.header-area .main-logo {
  width: 220px;
}

.navbar-toggler {
  padding: 0;
}

.header-area .navbar {
  padding: 3px;
}

.header-area .dropdown-menu {
  border-radius: 0;
}

.header-area li.nav-item {
  margin-right: 35px;
}

.header-area li.nav-item:last-child {
  margin-right: 0;
}

.navbar-dark .navbar-nav.sm-collapsible .nav-link .sub-arrow {
  border-color: rgba(255, 255, 255, 1);
}

.header-area .navbar-nav>.nav-item>.nav-link {
  color: #4d4d4d;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .navbar-nav.link-light>.nav-item>.nav-link {
  color: #fff;
}

.header-bg .navbar-nav.link-light>.nav-item>.nav-link {
  color: #4d4d4d;
}

.header-area .navbar-nav>.nav-item>.nav-link:hover,
.header-area .navbar-nav>.nav-item>.nav-link.active {
  color: var(--primaryColor);
}

.header-area .dropdown-menu {
  min-width: 12rem;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-area .dropdown-menu li .dropdown-item {
  padding: 10px 15px;
  margin-bottom: 2px;
}

.header-area .dropdown-menu li:last-child .dropdown-item {
  margin-bottom: 0;
}

.header-area .dropdown-item:focus,
.header-area .dropdown-item:hover,
.header-area .dropdown-item.active,
.header-area .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: var(--primaryColor) !important;
}

.child-submenu {
  margin-top: -45px;
}

.header-bg {
  position: fixed;
  background: #fff;
  padding: 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  z-index: 999999;
}

/* ANIMATED X */
.navbar-toggler.x {
  border: none;
}

.navbar-toggler.x:focus {
  outline: none;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggler.x .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

/* Hamburger Menu Start */
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 13px 35px;
  z-index: 999999999;
  background: var(--primaryColor);
}

.my-box {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 55555555;
  transition: 0.6s ease all;
}

.ham-title {
  color: #fff;
  font-size: 55px;
}

.my-box .footer-social li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.ham-content {
  display: flex;
  right: 0;
}

#ham-btn {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#ham-btn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#ham-btn span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#ham-btn span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#ham-btn span:nth-child(1),
#ham-btn span:nth-child(2) {
  top: 0px;
}

#ham-btn span:nth-child(3),
#ham-btn span:nth-child(4) {
  top: 18px;
}

#ham-btn span:nth-child(5),
#ham-btn span:nth-child(6) {
  top: 36px;
}

#ham-btn.open span:nth-child(1),
#ham-btn.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#ham-btn.open span:nth-child(2),
#ham-btn.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#ham-btn.open span:nth-child(1) {
  left: 5px;
  top: 9px;
}

#ham-btn.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#ham-btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#ham-btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#ham-btn.open span:nth-child(5) {
  left: 5px;
  top: 22px;
}

#ham-btn.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 22px;
}

/* Hamburger Menu End */
